[2015-06-30 18:41] mehrdadrafiee commented on #486
I had the same problem. Updating usemin worked!

[2015-06-30 20:55] stephanebachelier commented on #514
@arthurvr @eddiemonge I agree with a complete rewrite with more maintainable modules. Much better than the current base code. I was trying to pull into a better direction with dev branch but it will be much easier to rewrite from scratch.

[2015-07-01 08:33] arthurvr commented on #568
Closing due to inactivity. Happy to reopen when you provide a reduced testcase.

[2015-07-01 08:33] #568 closed

[2015-07-01 16:58] Narzerus opened #571 "assetDirs option corrupts images"
For some reason when specifying the assetDIrs option, the task corrupts every image it finds. Am I doing something wrong?

Why is this task writing into the files, I though the purpose of assetDirs was to replace references of revved files into css/js
[code]

Note that I tried assetDirs as a task alone with the same results.

[2015-07-05 03:01] victorbetran commented on #495
Hi,

I have a problem related with this. I want to know how to handle properly the scenario of multipage: https://github.com/requirejs/example-multipage

I have a common module for several pages and page-specific modules for each one. I want to keep the common module because I'll get the benefit of browser caching for an assets that it's repeated in a lot of pages.

AFAIK, the recommendation of us

[2015-07-07 09:15] mauron85 opened #572 "filerev: assetsDir glob pattern not applied to js patterns"
It seems that glob pattern eg: `<%= mapilary.outputDir %>/widgets/*/images` is only applied to CSS files and NOT when processing JS files.

With following configuration CSS are processed OK, but js file is not replaced with revved version.

Conf:
[code]

Example js:
[code]

To make it work I had to add explicitly assetDir where revved images are.

[code]

Hovewer glob patterns in assetsDir are wor

[2015-07-10 12:10] frankstallone commented on #514
Someone point me to the tip jar, please!

[2015-07-17 07:02] beejjorgensen commented on #416
Here's a quick, hackish fix that worked for me under Windows:

lib/fileprocessor.js line 151, change to look like so:

    var blockLine = new RegExp(block.raw.join('[\\r\\n]+'));

This is pretty sketchy since it assumes block.raw doesn't have any special regex characters in it. But it's working at midnight, so it must be good enough for now. ;)

Use at your own risk. :)

[2015-07-17 11:37] stigkj commented on #521
I got this to and then solved it. It seems there is no problem if the two files are identical; only if they are different will it stop with this error.

[2015-07-18 06:26] LeleDev commented on #255
+1 Please fix this issue

[2015-07-18 09:07] twixie commented on #255
:+1:

[2015-07-18 09:08] arthurvr commented on #255
As told earlier, please stop the +1s and the :+1:s.

[2015-07-18 10:57] filippolorenzoferraris commented on #255
:+1:

[2015-07-18 14:01] LeleDev opened #574 "Delete processed files"
How can i delete processed files automatically (maybe using the 'clean' grunt plugin?) after usemin task?

For example,```theme-1.css``` and ```theme-2.css``` are merged into ```theme.min.css``` by usemin, how to remove them automatically without specify their paths by hand? Could a specific plugin be added to the four supported in order to achiave this task?

Thank you in advance

[2015-07-18 21:38] arthurvr commented on #574
The use case of such a feature seems rather rare, and if you structure your files cleanly it's really easy to do this using [`clean`](https://github.com/gruntjs/grunt-contrib-clean). Maintenance of this task is hard enough so I'm personally :-1: for adopting any new features that can easily be achieved using other tasks

[2015-07-19 10:02] LeleDev commented on #574
Wouldn't be as simple as adding all the processed files to a 'generated' target in the clean task?

The problem of using other tasks is that you must keep all the references updated in grunt, while usemin can take them directly from the html files...

When these references are particularly heterogeneous (like in my current project) it can be really useful

[2015-07-22 14:16] landed1 opened #575 "really stuck after an hour on this : Cannot find module 'myapp/node_modules/grunt-usemin/lib/config/uglifyjs"
Running "useminPrepare:html" (useminPrepare) task
Warning: Cannot find module 'myapp/node_modules/grunt-usemin/lib/config/uglifyjs' Use --force to continue.

its failing here and I checked the dependencies and tried to load them on top like this

require('load-grunt-tasks')(grunt);
grunt.loadNpmTasks('grunt-contrib-concat');
grunt.loadNpmTasks('grunt-contrib-uglify');
grunt.loadNpmTasks('grunt-con

[2015-07-22 14:19] arthurvr commented on #575
Looks like an installation error. Try deleting `node_modules` and `npm install`ing again.

[2015-07-22 15:01] landed1 commented on #575
I can say if I type in
uglifyjs
then I get a hanging situation instead of command not found so it seems to have some kind of PATH ? Or been installed but what works IS
js: ['concat', 'uglifyjs'],     to    js: ['concat', 'uglify'],

thanks for the idea though arthurvr

[2015-07-23 14:13] laylaaitlaaraj commented on #555
I have the same issue

Did you found a solution for that?

[2015-07-24 10:55] arthurvr commented on #575
That's unrelated to the Grunt plugin, more of a problem with your local setup.

[2015-07-24 22:45] artuska commented on #521
I have exactly the same problem. I have 2 files: admin.html and index.html. Both of them have the same code block:

        // here goes bunch of JS files

And here is my Grunt config:

        useminPrepare: {
            options: {
                dest: 'dist',
                staging: 'tmp'
            },
            html: [
                'app/admin.html',
                'app/index.html'

[2015-07-24 22:47] artuska commented on #521
@stevemao can you show an example?

[2015-07-24 22:51] stephanebachelier commented on #521
@artuska have you tried the approach of @stevemao ?

[2015-07-24 23:04] stevemao commented on #521
Same as @artuska except not putting `app/admin.html` in `useminPrepare`.

[2015-07-24 23:09] artuska commented on #521
@stevemao Thank you, it works!

[2015-07-24 23:20] artuska commented on #521
@stevemao I have my first application (it also uses the latest *grunt-usemin* 3.0.0 and all configs in Gruntfile.js are the same) and I do write all files in useminPrepare:

    useminPrepare: {
        options: {
            dest: 'public',
            staging: 'tmp'
        },
        html: [
            'app/assets/admin.html',
            'app/assets/application.html.erb',
            'app/ass

[2015-07-24 23:28] stephanebachelier commented on #521
@artuska it's curious that it works... might be the fact you are in `app/assets` folder ?

If you can share a project it will be helpful :)

[2015-07-24 23:38] artuska commented on #521
@stephanebachelier Impossible to share :( It is just a usual ROR application, and, yes, there is an `app/assets` folder.

[2015-07-24 23:43] stephanebachelier commented on #521
@artuska I'm not a ROR dev but it should be easy to mock this :)

[2015-07-25 10:56] twixie commented on #255
:+1:

[2015-07-26 21:43] godely commented on #391
+ 1

[2015-07-26 22:36] robert-malai commented on #164
I found out that one can extend the patterns of the HTML files in the project's gruntfile, which I find to be a much nicer way to handle custom directives.
[code]

[2015-07-27 22:18] dchacke commented on #127
A little late to the party, but @robwierzbowski's comment helped me out because I needed to make the following change:

[code]

I came here from Google because my img src tag weren't updated correctly when building the project, just in case anyone else has the same issue.

[2015-07-28 12:13] pulkit110 commented on #499
@arthurvr, @stephanebachelier: Here is a sample block inside a worker (say `worker.js`)

[code]

Grunt task configuration

[code]

[2015-07-28 14:29] marcelaraujo commented on #561
@arthurvr  @stephanebachelier If you need some help to complete this task like testing new bugs opened after my changes moved to dev branch, ping me.

:)

I'm really excited about new release with includes minified html supports

[2015-07-29 09:23] landed1 commented on #575
yes I agree

[2015-07-30 12:04] Rorkal commented on #547
I got this exact same error myself,
my useminPrepare and usemin tasks were pointing to "**/*.html" and the defer script was one downloaded by Bower...

[2015-07-31 14:47] tconroy opened #576 "setting build src to external endpoint (IE cdn URL) instead of relative?"
Hey there,

I posted a question on [Stack Overflow about what I'm trying to do](http://stackoverflow.com/questions/31748886/grunt-usemin-grunt-rev-point-to-cdn-url-on-build-but-maintain-revision-number), but figure I might get a better response here.

Basically, I want to set up UseMin so instead of building this:

`<script src="scripts/b7197f7b.main.js"></script>`

it builds this:

`<script src="

[2015-07-31 15:47] tconroy commented on #444
Ahh I just found this after posting a [similar issue](https://github.com/yeoman/grunt-usemin/issues/576). I've attempted to use `grunt-cdn` but it's not working out for me. Did anyone else come up with a reliable solution? I could definitely see this being a useful feature to incorporate some sort of build prefix.

[2015-08-01 21:41] annabellor opened #577 "filerev file not replaced in destination file"
Hi,

After I have updated usemin I have a problem when I use this configuration to rev my files and rewrite them, it will not rewrite them because of the ```injector``` tags, if I remove them it will rev them. But it worked with the old grunt usemin.

[code]

Version that worked

[code]

Version that *doesn't* work

[code]

To be clear, the html ```build/injector``` tags just stay there, like noth

[2015-08-03 09:19] YHuard opened #578 "Specify custom href|src patterns for useminPrepare"
Hi,

It would be very useful to let developers specify their own href|src patterns for useminPrepare.

Currently the pattern is `/(href|src)=["']([^'"]+)["']/` (https://github.com/yeoman/grunt-usemin/blob/master/lib/file.js#L102) but what if I want to use this plugin in a Java dev environment where I call my assets like this: `<script type="text/javascript" src="<spring:url value="/resources/bower

[2015-08-04 09:56] casertap opened #579 "usemin can add filerev only if uglify is disable and only on one particular url"
I have an issue with usemin.
I decided to add a simple filter to my angular app so I can check if the url I get back from the the server starts with "/assets/site/default-cover". If this is the case then I need to change this link to point to the revised image:
[code]
my usemin task is pretty simple and works for every others urls on my js file
[code]
I could print the filerev summery object betwe

[2015-08-05 19:28] gormus commented on #578
+1

I would love to be able to process the manifest file name through _filerev_ via _useminPrepare_.
[code]

[2015-08-10 12:11] be-codified opened #583 "usemin not using revisioned file (filerev) in block"
Hi,

I am having an issue replacing minified css file with revisioned one.
Note: my revisioned file is fully created in `dist/public/css/styles-all.min.8e0e07d1.css`

This is my grunt config file:

    useminPrepare: {
        html: [
            'dist/resources/views/layouts/master.blade.php'
        ]
    },
    usemin: {
        html: [
            'dist/resources/views/layouts/master.blade.php

[2015-08-10 23:55] justsayno commented on #220
Newbie question here. Seems like @Dmitry9999 solution works and has now made it so that the source files are at least displayed when I use Firefox.

Now the issue I have is that the files are not where its looking for it since there are only the files in the dist folder. How does one get around that? Do you have to copy all the source scripts as well?

To explain a little more I have the folowing

[2015-08-11 12:13] dlmiles opened #584 "usemin not using well formed <link> element that fails strict HTML validation"
When usemin replaces a <link> element it uses the form
`<link href="" rel="">`

this is not the most compatible output.  It should have a closing element sequence as well such as:

`<link href="" rel=""/>`

or

`<link href="" rel=""></link>`

Ideally maybe the default mode would be to reproduce the input form.  Thus allowing those who need to save the extra byte able to do so.  Or maybe they shoul

[2015-08-11 15:51] dlmiles commented on #584
https://github.com/yeoman/grunt-usemin/blob/master/lib/fileprocessor.js#L110

This is the line that looks like it need to single character addition.

[2015-08-11 23:17] dlmiles commented on #584
https://github.com/yeoman/grunt-usemin/pull/585

[2015-08-12 17:05] dlmiles commented on #574
No the best you are going to get is to add all the processed files paths to an array in the usemin task.  This needs to be done in a unique way, that is either absolute file system paths, or a relative path from the Gruntfile.js location directory.  This way they are unique and unambigious, so they are not based around the implicit workingDir or destDir.

What a developer wants to do with this lis

[2015-08-12 18:25] #584 closed

[2015-08-12 19:48] eddiemonge commented on #583
Why do you need the full url. usually if you have a full url you are referencing some external file

[2015-08-12 19:51] eddiemonge commented on #577
what is the injector bit?

[2015-08-12 19:52] #575 closed

[2015-08-12 20:33] dlmiles commented on #584
I think you are misinformed http://www.w3.org/TR/html5/

[2015-08-12 20:43] eddiemonge commented on #584
link is a void element meaning it doesnt need an end tag.

[2015-08-12 23:03] dlmiles commented on #584
http://www.w3.org/TR/html5/syntax.html#void-elements

[code]

The word MAY is used, meaning it is optional.

So the real issue is if braking HTML 4.01 compatibility is a major concern.

Then even if HTML 4.01 compatibility is broken, which browsers in use today are restrictive enough in their parsing to not render pages correctly.  As in is it actually possible to use a DOCTYPE of configure a brow

[2015-08-12 23:16] eddiemonge commented on #584
Why would you not use HTML5 mode?

[2015-08-12 23:52] dlmiles commented on #584
The final output rendered to the browser by the webserver is HTML5 not XHTML5, as indicated by content body premable / DOCTYPE and Content-Type.

However the server side template engine uses markup namespaces and a stricter validation (to help see bugs sooner in the development cycle).  This is the input for grunt-usemin.

[2015-08-13 11:02] be-codified commented on #583
I can drop the full url but this is not working even with prefixed folder which I need to use

``

[2015-08-13 16:28] annabellor commented on #577
Is like wiredep, e.g. injector can inject your custom files into your index.html file.

[2015-08-13 19:28] eddiemonge commented on #583
I thought you said it was working in the last line of your original post

[2015-08-13 19:30] eddiemonge commented on #577
it should work since it works here: https://github.com/yeoman/generator-webapp/blob/master/app/templates/index.html#L13-L16

[2015-08-16 21:49] skidvd opened #587 "usemin not replacing revved file refrences"
I'm sorry for the basic question, but I have been beating my head against the wall with this problem unsuccessfully.  The blocks created in my HTML are getting successfully concatenated, copied, uglified and filerev-ed.  However, the block replacement is NOT being replaced with the revved version of the file.

I am following the base yoeman dir structure and the key directories of my app are as fo

[2015-08-18 07:24] stephanebachelier commented on #561
@arthurvr @sindresorhus coming back. Sorry for the delay

[2015-08-18 11:50] aikrez commented on #291
Thanks @bruun
Some unused variables caused these errors

[2015-08-18 16:09] mhawila commented on #171
+1 what is going on with this issue? Can we expect anything out anytime soon?

[2015-08-18 16:58] eddiemonge commented on #171
probably not unless someone wants to take a shot at it

[2015-08-20 10:54] alexbeletsky opened #588 "Chalk dependency issue"
There is an issue with one of dependencies, namely chalk/chalk#81

npm published version v0.8.0 depends on "chalk": "^0.5.1" which still contains the bug and brakes current build pipeline. In master, it already fixed to "chalk": "^1.0.0".

If it can be back-ported and package is re-published, that would be just awesome.

Simialar issue in `grunt-contrib-copy` https://github.com/gruntjs/grunt-contr

[2015-08-20 10:55] alexbeletsky commented on #588
cc @sindresorhus if you can please process that, I would really appreciate it. :)

[2015-08-20 12:53] sindresorhus commented on #588
Done.

[2015-08-20 12:53] #588 closed

[2015-08-20 13:45] sergio773 opened #589 "Grunt usemin crash on execute task"
Running "useminPrepare:html" (useminPrepare) task
Warning: Cannot find module '\node_modules\grunt-usemin\lib\config\uglifyjs' Use --force to continue.

[2015-08-20 13:45] GuGuss opened #590 "Warning: Cannot find module '/app/out/node_modules/grunt-usemin/lib/config/uglifyjs' Use --force to continue."
Since tagging the 3.1 version today, I got the following issue when running ``grunt build``:

[code]

I guess [this commit](https://github.com/yeoman/grunt-usemin/commit/748261430807582280ab99d4b12760dd1646b321) should be considered as a breaking change.

[2015-08-20 13:46] sergio773 commented on #590
This issue is duplicated here: https://github.com/yeoman/grunt-usemin/issues/589

[2015-08-20 13:47] GuGuss commented on #590
OK.

[2015-08-20 13:47] #590 closed

[2015-08-20 14:09] Rauno56 commented on #171
It doesn't do any filesystem calls. Just renames the reference.
On Aug 18, 2015 7:58 PM, "Eddie Monge" <notifications@github.com> wrote:

[2015-08-20 15:35] JSlifierz commented on #589
I also experienced this. Seems as though there's a '.' missing in uglify.js...

[2015-08-20 16:15] stephanebachelier commented on #589
@sergio773 @JSlifierz it has been renamed because it was an issue.
What version of usemin are you using ?

[2015-08-20 16:19] stephanebachelier commented on #590
This was needed to fix the issue in #409. So yes a breaking change since 3.0

[2015-08-20 16:21] stephanebachelier commented on #589
Sorry for double posting. Yes breaking change since 3.0 and due to fix post processor issue in #409.

[2015-08-20 19:07] thematho commented on #589
Same issue here, i had to stick to "grunt-usemin": "3.0.0",

[2015-08-20 20:01] mohsen1 opened #591 "lib/config/uglifyjs is missing in 3.1.0"
Release of 3.1.0 broke our build at [Swagger Editor](https://github.com/swagger-api/swagger-editor). Apparently `lib/config/uglifyjs'` is missing.

[2015-08-21 03:12] SmoshySmosh commented on #591
+1

Having the same issue.

[2015-08-21 03:31] abramz commented on #591
+1

Having same issue.

[2015-08-21 05:18] stephanebachelier commented on #575
probably related to #591 issue, but without knowing your version it's difficult to say.

[2015-08-21 05:50] stephanebachelier commented on #591
@sindresorhus @arthurvr we have a breaking changing here that we need to fix.

3.1.0 ships a breaking change where uglify flow step was renamed from `uglifyjs` to `uglify` for [name consistency](https://github.com/yeoman/grunt-usemin/issues/409#issuecomment-50111623) to fix an issue (#409), which give us :
- `lib/task/uglify`
- `uglify` flow step

which is the same as in `grunt-contrib-uglify`, wh

[2015-08-21 06:01] stephanebachelier commented on #591
@sindresorhus @arthurvr I'm working on a fix that would support both naming. It should not be that hard.

[2015-08-21 06:09] stephanebachelier commented on #591
Message added to README.

[2015-08-21 08:03] paulclarkin commented on #591
If you revert the commit and publish 3.2.0 will uglify still work? I've changed from `uglifyjs` to `uglify` as above. Will I have to change back again?!

[2015-08-21 08:16] paulclarkin commented on #591
As an additionally note, should this have been published as a major version update?

[2015-08-21 13:40] brunowego commented on #171
+1

[2015-08-21 14:40] brunowego commented on #591
+1

[2015-08-21 15:42] hristozov commented on #591
This should have been published as 4.0.0. Putting this change in 3.1.0 violates semantic versioning.

[2015-08-21 18:27] stephanebachelier commented on #591
@hristozov you're right but as we are missing maintainers this change was not seen as a breaking change (my bad).
I will publish a patch probably this evening (Europe) to support both 'uglify' and 'uglifyjs'. Need to fix some tests.

Would you agree with a 3.1.1 ? It would help anyone having this issue to update to latest.

[2015-08-21 18:29] stephanebachelier commented on #591
@paulclarkin no you would not have to change anything with my patch. It would support both.
We need to help you guys and still be consistent with the name which should be uglify as grunt-contrib-uglify.

[2015-08-21 20:56] rafialikhan commented on #591
Look for uglifyjs in the Gruntfile.js and renaming it to uglify worked for me.

[2015-08-22 08:46] stephanebachelier commented on #591
@rafialikhan you're right.
Just to let you know the patch will be released today.

[2015-08-22 10:38] damluar opened #592 "Need help to integrate traceur/babel into usemin"
I'm trying to add `traceur` to my build process. The `traceur` task itself works and compiles js files into the directory I specified.
Now I need to make it play nicely with `usemin`, so that the compiled files are minified/uglified afterwards. It's not clear where `traceur` task should output files so that `usemin` could use them.
How could it be done?

Here is the stackoverflow question: http://

[2015-08-22 23:37] #591 closed

[2015-08-22 23:50] stephanebachelier commented on #591
@sindresorhus @arthurvr I don't have the right to publish the new version on npm.

[2015-08-22 23:53] stephanebachelier commented on #589
@thematho @sergio773 @JSlifierz this issue should be fixed with 3.1.1 soon to be released on npm.
At least there is a tag on github repo if you want to test.

[2015-08-22 23:53] #589 closed

[2015-08-23 02:41] yaojingguo commented on #255
:+1:

[2015-08-23 03:34] JamesIves opened #594 "Unable to build due to usemin error"
I'm having issues building using usemin in one of my projects. Whenever I run ``grunt build`` I get the following error:

If you look at the location, uglifyjs has no dot between uglify and js. In the directory I see an uglify.js file instead. Renaming the file allows it to compile, but it doesn't uglify the HTML properly.

In my package.json file I have the following present:

Any suggestions? I'

[2015-08-23 03:38] JamesIves commented on #594
I feel silly now. The issue was with my Gruntfile. Somehow a space went missing. This can be closed!

[2015-08-23 07:40] #594 closed

[2015-08-23 07:42] #592 closed

[2015-08-24 08:58] luxueyan commented on #587
I need this too!

[2015-08-24 18:10] takotuesday commented on #591
@stephanebachelier can you re-open this issue until the new version has been published to npm?

[2015-08-24 18:17] arthurvr commented on #591
Done.

[2015-08-25 04:23] luxueyan opened #595 "usemin will not replace the revved file when filerev have not only one target"
this is my filerev set
[code]

this is my usemin setup
[code]
when i run grunt build, the usemin will not replace the fonts revved files in css

[2015-08-25 04:48] luxueyan opened #596 "usemin how resolved the revved file reference another revved file"
if a revved file such as  "a.111111.html"  that reference a  revved js file such as "b.123123.js".
when the b.123123.js has some change , the js file hash code will update such as updated to b.456456.js.
if use the usemin, the a.111111.html will update the js url , but the a.111111.html hash code will not update.
how to resolve this question pls! thanks!

[2015-08-25 08:00] hanfeisun opened #597 "Reuse the same target in multiple HTMLs?"
For example, I have a usemin target like this in `index.html`

    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/vue/dist/vue.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

Now I also need to include exactly the same libraries in `li

[2015-08-25 21:49] GitRubb commented on #157
+1

[2015-08-25 21:51] GitRubb commented on #255
:+1:

[2015-08-26 14:12] neuquino opened #598 "Specify final url for images inside css on grunt-usemin"
I wrote this [stackoverflow question](http://stackoverflow.com/questions/32228524/specify-final-url-for-images-inside-css-on-grunt-usemin) with an example on what I need to achieve.

I can't find a way to specify an absolute url to relative paths on css files as I can do on html files.

[2015-08-27 18:54] TJNevis opened #599 "Usemin stops working after grunt-injector"
It's taken me quite a while to know exactly when grunt-usemin stops working and I finally figured out that it seems to be after grunt-injector.

On my index.html page, I have these blocks:

When I have my local and Bower dependency CSS and JS inject with grunt-injector, running grunt-usemin will not work properly - it never replaces the references on my index.html page.  The index.html page tries

[2015-08-30 14:16] jackncoke opened #600 "I need help to Drupal theme info file integration"
Hi guys, I have a question about theme deployment.

bower and wiredep modules works quite nicely, I add a lot of content this way! however, now I have to combine these files such as bundle.js, bundle.css etc... grunt-usemin module works very well for this purpose, but I could not find an integration for Drupal theme info file (see: https://www.drupal.org/node/171205 ) Below you can see a sample fi

[2015-08-30 17:46] sindresorhus commented on #600
Support questions are better asked on StackOverflow:
http://stackoverflow.com/questions/tagged/gruntjs
Paste in the link to the question here so others can follow ;)

[2015-08-30 17:46] #600 closed

[2015-09-01 15:53] nicolasgarnier commented on #391
+1

[2015-09-03 09:42] onderweg commented on #530
I can confirm this issue as well.

[2015-09-03 17:37] guy-mograbi-at-gigaspaces commented on #171
+1 -

but I rather have it implemented @eddiemonge suggested.

[2015-09-06 06:29] jabranr opened #601 "Replace remote file paths"
It would be great to have an option where remote paths can be replaced with their alternatives. There are few example of such cases as follow:

#### Usage:
1. Consider the use of readable Bootstrap in dev environment and minified Bootstrap in production environment.
[code]
2. Consider the use of URLs that require an API key in production environment i.e. Google Maps API. The ideal use would be to

[2015-09-11 06:00] Prachitbooks commented on #558
Any workaround for this issue ?

[2015-09-11 06:38] Prachitbooks commented on #558
currently as a workaround I am maintaining a trmplate file. and before the usemin task i am replacing the original file with the template file using grunt-file-replace task.

[2015-09-11 21:27] stekhn commented on #391
+1

[2015-09-14 19:53] jonscottclark commented on #291
Heaping on more thanks to @bruun

[2015-09-19 21:03] guy-mograbi-at-gigaspaces commented on #405
+1 s3 me too.

[2015-09-24 02:46] luxueyan commented on #599
I had been in the same trouble like you！It because the grunt injector lineendings！You can try this in injector settings
[code]

[2015-09-24 02:47] luxueyan commented on #596
I think i will close this error. I have resolve this by using a assetMap.json in js files.

[2015-09-24 02:47] #596 closed

[2015-09-24 02:50] luxueyan commented on #595
Will close this issue. It works now, maybe because the RegExp is not fit for my case！

[2015-09-24 02:50] #595 closed

[2015-09-24 03:28] luxueyan commented on #598
I use grunt-repace to replace url before run grunt usemin

[2015-09-24 12:51] TJNevis commented on #599
Awesome!  That worked.  Thanks so much for your help!

[2015-09-25 16:35] BelfordZ commented on #405
:+1: there is curently no other way to gzip if you are hosting via s3 / cloudfront.

I am doing it outside of usemin right now, but it would be nicer to have it work

[2015-09-26 20:46] chriseyhorn commented on #497
Using ng-src for static images is very common in the Angular world.  In addition, libraries like Angular Material commonly use a directive attribute like md-svg-src as the source of the svg image.  The ideal fix for this is to have a config that allows the user to input the tags to look for without having to write (in my opinion) complicated regex expressions that have been shared in various SO po

[2015-10-03 15:30] big-wave-tim commented on #391
I have grunt-usemin 3.1.1 and if async or defer are in the script lines of the build blocks then it get carried through when minified i.e

    <script defer="" src="/js/app.js"></script>

becomes

<script defer src="app.min.js"></script>

[2015-10-05 03:27] chenweiyj opened #602 "usemin does not replace the image when the path is generated in js"
I an using AngularJS to build my site. I have an array of `assets/images/?.png` where `?` is generated via `_.range` as follows:

[code]

It works in development environment, but fails in production environment because it tries to find the original one not the usemin generated one.

`usemin` does not change the `<img ng-src="{{model.fad}}">` tag. So how can I fix it?

[2015-10-05 16:13] ptitgraig commented on #599
Thanks @luxueyan this helped me a lot as well.

[2015-10-06 20:19] keatz55 commented on #157
+1

[2015-10-07 22:57] keatz55 commented on #255
+1

[2015-10-08 06:19] luxueyan commented on #577
I think it may be help #599

[2015-10-08 12:24] Darksoulsong commented on #521
This limitation makes almost impossible to usemin a multiple page app. My application is huge and has 5 `.html` files with their own dependencies that share common deps between them. The idea is to build it in order to generate a `vendor.js` with all the third party scripts and a project-common and a  project-<sitearea>.js for each page. @stevemao 's solution is not an option for me because of tha

[2015-10-08 19:27] stevemao commented on #521
Why is it not an option? I don't think you understand my suggestion

[2015-10-08 19:36] keatz55 commented on #255
@kelp404 Did you find a solution?

[2015-10-10 07:09] JackZhang1988 commented on #512
@stephanebachelier sorry for replaying so late, the variable for path used for static files' CDN path, usually we develop our project in local, this variable will be 'localhost', when our project release to internet, this variable will be the CDN path.

i know there maybe other way to accomplish this, but when i join my team, it has used this way.

[2015-10-10 09:38] stephanebachelier commented on #512
@JackZhang1988 maybe you should use another plugin that will replace all the paths of the assets, but once usemin have processed your files.

[2015-10-13 14:02] Darksoulsong commented on #521
@stevemao It´s not an option because if I reference `a.js` only, the scripts that will be copied, concated, minified and uglified are the ones referenced in `a.html` only. Keep in mind that my project has common and specific dependencies between files, so I need , `b.html` `c.html`, `d.html`, `e.html` dependencies to be processed as well.

[2015-10-13 21:21] stevemao commented on #521
No, They will all be replaced but the bundle.js will only based on one of the htmls

[2015-10-24 02:03] TJNevis commented on #599
One thing that also helped was to convert the whole file giving you an issue, for me it was index.html.  I was still having intermittent problems, but this seems to work (along with the lineEnding option).

$  file index.html
The above command shows the line endings of the file, currently.

$  apt-get install dos2unix
$  dos2unix index.html

$  file index.html
You should see the line endings have

[2015-10-30 01:01] nhuthuynh opened #603 "the site in dist not working after grunt build (using grunt-requirejs)"
After i runt build of grunt task, and i run my site with localhost but it do not work. It seem grunt-requirejs  not work correctly as i expect. Could anyone look i my files and show me my issues with grunt-requirejs configuration ?

[code]
here is my index.html

[code]

this is my main.js config

[code]

my index.html cannot load vendor.49696d43.js and scripts.49be0e82.js, because i used <base hre

[2015-11-16 08:06] noortotah opened #605 ""usemin" is not compiling images in css"
in my index.html

   <link rel="stylesheet" ng-if="!landing_page" type="text/css" href="assets/css/app.css">
	<link rel="stylesheet" ng-if="!landing_page" type="text/css" href="assets/css/icons.css">

    <link rel="stylesheet" ng-if="landing_page" type="text/css"  href="assets/css/landing.css">

1) I can't find a way to add the ng-if to the compiled version ,
2) also the usemin is not compiling t

[2015-11-19 11:31] leolux commented on #497
ng-source still gets ignored, even with the custom pattern suggested by stephanebachelier.
Btw. It should be an html pattern an not js.

[2015-11-20 08:51] stephanebachelier commented on #602
@chenweiyj the problem is that usemin has no way to know the path of a dynamic image.

One solution I've found with to this problem is to use a map in your code and use this map in your code.

If I'm correct:
[code]
could be written :

[code]

You will need to add a regex for `js` type in `usemin` configuration to search for `png`.

BTW it would also be more performant as you will build the array

[2015-11-20 08:54] stephanebachelier commented on #603
@nhuthuynh it would be better if you could either share your project or at least reduce your problem. There is really too much configuration here to understand your problem.

[2015-11-20 08:55] stephanebachelier commented on #605
@noortotah could you try the dev branch ?
We have move to an HTML parser so it should not remove attributes.

[2015-11-20 08:58] stephanebachelier commented on #601
@jabranr I suggest you give a shot to grunt-preprocess or other alternatives. It's not the job of usemin. Usemin is already a quite complex piece of software and it's purpose is to minify all your content and replace all the assets url with a revved one.

Your problem is to support different url for dev and prod which is not usemin job.

[2015-11-20 08:58] #601 closed

[2015-11-20 09:02] stephanebachelier commented on #598
@neuquino for now usemin does not support url rewriting using an absolute path. There are some tools like grunt-replace that can help you.

BTW I'm currently investigating to find a solution for usemin to support absolute url / remote url.

[2015-11-20 09:23] jabranr commented on #601
@stephanebachelier OK thank you! I thought I was talking about replacing assets URLs, just not with revved ones. :) But appreciate your reply to this issue.

However I have actually found one of the usemin options (blockReplacements) for such a use case. An implementation of such case can be found in one of my recent project at:

* https://github.com/jabranr/guess-where/blob/gh-pages/Gruntfile.js#

[2015-11-20 10:28] realph opened #606 "Timestamp at the End of JS/CSS Files"
I was wondering if it's possible to add a dynamic timestamp to the end of my file references in my `index.html` file. For example:

    <link href="style.css?v=20151120120000">
    <script src="app.js?v=20151120120000">

I don't want to rename the file, just simply change the references to the files.

I've tried to use an Angular expression in my build comment, but usemin seems to ignore that.

Is

[2015-11-20 20:40] eddiemonge commented on #606
usemin ignores that because it is serving the page and then running the on page javascript. It parses the page itself and looks for things it knows how to deal with.

Why do you want to add the query timestamps instead of letting filerev rename the files?

[2015-11-20 20:42] eddiemonge commented on #605
Thats probably not the best way to do that as you are loading the css after the JS has already run which means the css wont load until after your site is loaded and running. Your users will probably get FOUT which might not be a fast flash.

[2015-11-23 00:28] realph commented on #606
@eddiemonge It's just a preference thing. I'd prefer to have the timestamp in the file reference to the JS and CSS files. Are you saying filerev is better placed to do such a thing?

[2015-11-23 19:52] eddiemonge commented on #606
Yes. Query strings dont always cache defeating the purpose of it. File name versioning is a better way to cache it.

[2015-11-24 07:59] stephanebachelier commented on #606
@realph filerev is better for caching as stated by @eddiemonge and by the way it's supported by usemin.
It's also better because filerev will generate a hash depending on the file content. If the file change the hash is changed.

Closing the issue.

[2015-11-24 07:59] #606 closed

[2015-11-24 08:07] stephanebachelier commented on #605
@eddiemonge good catch :)

@noortotah you should probably try another approach. There are other options to lazy load CSS files like  filamentgroup/loadCSS or any other alternatives. In your case you need to have at least Angular to be injected in your page before applying the CSS file.

It might be helpful to have a third CSS file with all fonts and text styles to be loaded at first.

[2015-11-24 08:28] stephanebachelier commented on #587
@skidvd it would be better if could  share your project:

Your task configuration should be something like this (it's a working configuration):

[code]

By the way could you give the configuration for the cdnify ? If you remove the cdnify task does it work ?

[2015-11-25 20:28] nevcos commented on #499
:+1:

[2015-12-04 17:55] blacksheepmails commented on #255
@Maksim-Bartoshyk Thanks! ^.^

[2015-12-06 14:20] fawadniazi commented on #255
+1

[2015-12-11 16:50] bampnet commented on #255
Hei guys,
after 3 hours on tests, I've found this solution.

[code]

[2015-12-11 17:19] azoerb opened #608 "Usemin replacing meta tag content attributes"
I'm trying to use grunt-usemin and grunt-filerev to version my static files. I use browserify for all concatenation, uglification, etc. So I really just need to version the end files and replace them in my html.

The problem I'm running into is that I have meta tags with content attributes that match one of my filenames.

So I have a revisioned file like:
`static/app_name.198615a3.css`

as well as

[2015-12-14 04:40] blueforest opened #609 "throw a error when grunt run task"
Gruntfile.js:

[code]

when I run grunt:

[code]

[2015-12-14 08:20] #609 closed

[2015-12-14 22:44] travellingprog commented on #196
Our team ran into this issue as well, we were storing stringified JSON inside a `data-` attribute. We worked around it by using `encodeURI()` on the string before storing in the `data-` attribute. Of course, this meant that when we retrieved the value, we needed to pass it through `decodeURI()`.

[2015-12-14 23:17] stephanebachelier commented on #196
@travellingprog could you try using the dev branch ?
it's build with an HTML parser so this should not be an issue anymore.

[2015-12-14 23:40] agaace opened #610 "usemin not handling self-closing HTML tags correctly"
I am unable to successfully use self closing tags `<div />` in HTML, because output HTML is corrupted. If I use `<div></div>` instead, all works fine.

Example:

This correct syntax:

`<div class="cy-toggle-root">`
`  <div class="toggle">`
`    <div class="bar" />`
`    <div class="button" />`
`  </div>`
`  <div ng-transclude class="content" />`
`</div>`

Incorrectly becomes:

`<div class="cy-togg

[2015-12-23 23:40] beck opened #611 "The default js flow should concat or uglify but not both"
By default here is the sample of generated config:

[code]

The concat is unnecessary because uglify can take multiple sources.

There are also has negative side-effects, when enabling uglify sourcemaps, you get:

[code]

Note `sources`, this is a bummer: `../.tmp/concat/app.js`

When disabling the concat, the generated config is just:

[code]

And the sourcemap is correct:

[code]

[2015-12-23 23:45] beck commented on #220
Configuring `uglify.optoins.sourceMap = true` produced all the source maps needed. The only [issue encountered](https://github.com/yeoman/grunt-usemin/issues/611) was the fault of concat.

Should this issue be closed?

[2015-12-24 13:34] lvarayut commented on #244
@stephanebachelier Will the dev branch be merged soon? I'm using v3.1.1 and still having the exact same issue.

[2015-12-24 13:41] stephanebachelier commented on #244
@lvarayut Not sure about the time. But I will migrate an existing customer project on the dev branch in the next two weeks so expect something to happen soon.

[2016-01-05 15:24] XhmikosR opened #612 "Custom pattern doesn't seem to work"
So, I've been trying to make grunt-critical or even grunt-penthouse to work. They both need a custom pattern for `loadCSS`.

My branch so far is <https://github.com/mpc-hc/mpc-hc.org/tree/critical-css>.

The relevant part is:

[code]

And it results in:

[code]

So it seems the pattern doesn't match even though the string is in the html files (`loadCSS("/assets/css/pack.css");`) and the regexp is

[2016-01-07 11:44] calidion commented on #521
show reopen this issue.

[2016-01-12 07:20] smohadjer commented on #391
+1

[2016-01-12 18:12] heitoralthmann commented on #597
@hanfeisun Have you found an alternative for this?

Thank you!

[2016-01-12 19:56] heitoralthmann commented on #597
Here we go (*that worked for me*):

As you may know the usemin plugin has 2 tasks: **useminPrepare** and **usemin**.

The **useminPrepare** task is the one responsible for running all the necessary processing on your files (concatenation, minification etc) and generating the "final (js or css, for example) file".

The **usemin** task just replaces your  block with a link to the **/path/to/js.js**

[2016-01-13 14:05] hacker112 commented on #499
I made a very ugly workaround that makes it possible to use usemin for WebWorker.
I hope that there will be a nicer way to do this in the future. Hope someone can have use of it.

worker.js
[code]

Gruntfile:
[code]

[2016-01-13 20:12] lauradaniela commented on #112
@DanielTate you can resolve the error?

[2016-01-13 20:25] DanielTate commented on #112
@lauradaniela No I am no longer using usemin

[2016-01-14 15:47] lauradaniela commented on #172
@jpdesigndev how you can resolve the problem?

[2016-01-17 05:41] piyush-sukhadiya commented on #388
+1

[2016-01-20 17:32] EvilJohnny commented on #220
@jgogstad Solution worked awesome for me! :smiley:

[2016-01-20 17:48] hobbysoldat opened #614 "grunt-usemin breaks when lodash 4.0.0 is used."
usemin still uses the _.contains method, that has been replaced by _.includes in lodash 4.0.0 in lib/fileprocessor.js on line 179

I forked and changed this, it works good for me when this is changed.

[2016-01-27 05:02] solgarius commented on #499
:thumbsup:
@hacker112 I assume that work around is only for the filename replacement part, have you had any success/worked with adding the files inside sources to the concat part and/or worked with the filerev? I assume that wouldn't work either?

[2016-01-29 09:42] jgogstad commented on #611
Is there any reason to use concat at all? Can it be removed from the flow?

[2016-02-01 13:29] hacker112 commented on #499
@solgarius I missed the filerev and useminPrepare in my example code. It is now updated. The concatenation of files and filerev works for me also.

[2016-02-01 22:26] Kattixie commented on #388
Hey everyone, I finally got something like this working with usemin. This thread pointed me to some helpful information, so thank you. It was also among the first Google hits I found, so...

Here's what I did (with Angular):

[code]

Gruntfile config (under usemin.options):

[code]

I had some trouble passing a search path in. It was coming through as an empty array unless an output path of some s

[2016-02-02 08:04] solgarius commented on #499
@hacker112 Thanks, greatly appreciate this work around.

[2016-02-23 13:55] sdanielspq commented on #128
No undefined in index html file, but template handlebars file had undefined text

[2016-02-24 01:14] eddiemonge commented on #614
PR welcome

[2016-02-25 04:16] nodox commented on #313
I'm always looking for ways to contribute on Github. Would love to help in anyway possible!

[2016-02-25 06:54] needcaffeine opened #617 "If a html file has Windows line feeds, usemin will silently not replace the blocks"
Converting the file to have Unix line feeds allows usemin to succeed.

[2016-02-29 05:55] rahulbpatel commented on #365
FYI... ran into the same issue.  Ended up using @sindresorhus' [grunt-lineending](https://github.com/suisho/grunt-lineending) plugin before my useminPrepare task to consolidate line endings.  Thanks @sindresorhus!

[2016-03-02 11:03] ckaemper commented on #612
@XhmikosR I think patterns has to be inside the options object.
Something like this should work.

[code]

[2016-03-02 12:21] XhmikosR commented on #612
You are correct, thanks!

[2016-03-02 12:21] #612 closed

[2016-03-04 06:37] ThomasHambach commented on #617
Try using the patch in #604 or changing the package.json to refer to https://github.com/lu4/grunt-usemin

[2016-03-07 10:45] kunal12422 commented on #446
any progress on this? I'm having the same issue. @vennsoh did you solve this problem?

[2016-03-07 10:47] vennsoh commented on #446
I am using Gulp now and it is fine over that side of things (:

[2016-03-07 10:49] kunal12422 commented on #446
any update on this? I'm having the same issue. @vennsoh Did you find any solution for that?

[2016-03-07 10:50] vennsoh commented on #446
@kunal12422 Try Gulp?

[2016-03-07 11:15] kunal12422 commented on #446
@vennsoh Thanks for the help. I'd comment that line of operation until It is fixed or will try gulp (:

filerev: {
      dist: {
        src: [
          '<%= yeoman.dist %>/<%= yeoman.client %>/!(bower_components){,*/}*.{js,css}',
          '<%= yeoman.dist %>/<%= yeoman.client %>/assets/images/{,*/}*.{png,jpg,jpeg,gif,webp,svg}'

        /*  , '<%= yeoman.dist %>/<%= yeoman.client %>/assets/font

[2016-03-07 13:49] canygt27 commented on #521
You should put just your index.html file on useminPrepare. Other html files must include in usemin.

Like this;

`useminPrepare: {`
  `options: {`
    `dest: '<%= config.dist %>'`
  `},`
    `**html: '<%= config.app %>/index.html'** `
`}`

and

` usemin: { `
   `options: { `
        `assetsDirs: [`
         ` '<%= config.dist %>',`
         ` '<%= config.dist %>/images',`
         ` '<%= config.di

[2016-03-07 22:46] ctrom commented on #164
As mentioned by @vinaygopinath, this issue applies to `<md-icon>` elements in addition to `<img>` elements that make use of the `ng-src-responsive` source attribute that @siddhion noted in the original post. I'm sure there are other instances with the same issue. This is a bug that as of v3.1.1 has not been addressed.

[2016-03-08 20:31] fodma1 commented on #444
After I spent 1.5 days fixing this problem, I thought I share my solution for the simplest usecase: I wanted to prepend the url paths with the cdn base url/the app's base url (for the local devenv).

    module.exports = function( grunt ) {

      var options = {
        routes: {
          'static': 'myapp/static',
          'dist': 'myapp/dist',
          'tmp': '.tmp'
        },
        paths:

[2016-03-18 19:22] shamoons commented on #313
I'm happy to take on as maintainer.

[2016-03-20 14:33] karensg commented on #313
That would be great! Lots of pull requests are waiting review :)

[2016-03-22 20:27] nodox commented on #313
Would love to take on as another maintainer.

[2016-03-23 10:50] ptitgraig commented on #313
@addyosmani  @sindresorhus,  some people seems to be keen on maintaing this project :)

[2016-03-30 15:42] PBartrina opened #618 "Usemin CSS only gathers one file"
In mu usemin options files, it is declared as follows:
`module.exports = {
    html: ['<%= paths.dist %>/*.html', '<%= paths.dist %>/components/**/*.html'],
    css: ['<%= paths.dist %>/**/*.css'],
    js: '<%= paths.dist %>/**/*.js',
    options: {
        assetsDirs: ['<%= paths.dist %>/**']
    }
};`

Usemin does all previous processes perfectly, but when it comes to load files into the final h

[2016-03-30 22:28] fatso83 commented on #514
Over the last month there have been several people that has stepped up in #313 that would like to help maintain this.

[2016-03-31 07:06] sindresorhus commented on #313
@shamoons @karensg @nodox @ptitgraig Thanks for stepping up. You're now collaborators on this repo :)

The guidelines are simple. Be kind to everyone. Larger changes should come in a pull request. Smaller ones can be committed directly. Pull requests should have at least one :+1: from another collaborator before being merged. Follow the existing code style and ensure `npm test` passes before pushi

[2016-03-31 15:46] eddiemonge commented on #313
Or make this a thin wrapper around useref and combine the efforts with @jonkemp to reduce duplication

[2016-04-01 08:23] tangorri commented on #446
Moving to Gulp is not possible at this time.
thanks @moneytree-doug I'll try to adapt this to node-sass as I removed compass. I'll search for it.

[2016-04-05 12:03] ptitgraig commented on #599
Closing the issue since @TJNevis found its answer.

[2016-04-05 12:03] #599 closed

[2016-04-07 04:07] #614 closed

[2016-04-07 20:24] nodox commented on #313
What needs to happen to @stephanebachelier [dev branch](https://github.com/yeoman/grunt-usemin/tree/dev) before it can be merged? Are we missing tests?

[2016-04-07 20:35] sindresorhus commented on #313
@nodox I don't know. You'll have to ask him.

[2016-04-07 21:17] eddiemonge commented on #313
Someone just needs to go through it and make sure it works and merges cleanly

[2016-04-08 09:07] karensg commented on #610
<div> is not a HTML 5 void element and therefore can not be used as <div />

[2016-04-12 12:38] stephanebachelier commented on #313
@sindresorhus @eddiemonge I'm back in the place. For the dev branch I had asked if anybody could tested it but I don't know about anyone apart from me.
I will take a look again at the dev branch. It should still works.

Is there some forum / place to discuss about what to do ? I created the gitter yeoman/grunt-usemin channel last year but there is not so much activity :) Have you got another chann

[2016-04-12 12:44] sindresorhus commented on #313
Yes, you can use https://gitter.im/yeoman/yeoman (Maybe add that to the readme).

[2016-04-12 13:55] stephanebachelier commented on #313
@sindresorhus ok done.

[2016-04-15 07:31] adaromu commented on #598
Based on [document](https://github.com/yeoman/grunt-usemin/#patterns), `Patterns` should be able to do that, since it can take the match group to do filter-in/out, but I can't find any detail api and example for it.

[2016-04-15 18:14] stalsma commented on #471
Just to add on to this for future visitors, the blockReplacements does not exist in early versions of useMin.  I had to upgrade my package; then it worked w/o issue.

[2016-05-02 09:17] naufalkhalid commented on #391
I am trying this but it does not work for me

[2016-05-20 15:42] benmcginnis commented on #313
still need any help @addyosmani and @sindresorhus ?

[2016-05-26 14:11] mathilde-pellerin commented on #255
@bampnet your solution seems to be the same as @Maksim-Bartoshyk solution. It seems to be a good workaround, but I'm stuck because I also use [load-grunt-config](https://github.com/firstandthird/load-grunt-config) with aliases, so I have no idea on where to put the `grunt.registerTask` part.
Does someone have an idea ?

[2016-05-31 17:02] scne opened #621 "async defer trouble with AngularJS reCaptcha"
As you can see in README of [https://github.com/VividCortex/angular-recaptcha](url) I need to use

`async defer` in my code but when I use the grunt task useminPrepare with this conf

`module.exports = {
  html: ['src/index.html','src/material.html'],
  options: {
    dest: 'angular'
  }
}`

and with this general task

`...
gtx.alias('build:angular', [
        'recess:less',
        'clean:angular

[2016-06-05 05:45] unional commented on #570
Don't know if this is the right place, but I have the same issue. Tests time out on appveyor but work on travis.
For example:
https://ci.appveyor.com/project/unional/generator-typings/build/1.0.8

[2016-06-16 13:11] varunprakas opened #622 "question"
Why 'grunt-usemin' title showing as "[UNMAINTAINED] Replaces references to non-optimized scripts or stylesheets into a set of HTML files" ?

Does it means that 'grunt-usemin' no longer available?
Because i am using 'grunt-usemin' in my project

Thanks
Varun

[2016-06-16 18:22] sindresorhus commented on #622
You're free to use it, but there's no one actively working on it.

See: https://github.com/yeoman/grunt-usemin/issues/313

[2016-06-16 18:22] #622 closed, assigned to nobody

[2016-06-20 15:27] thedarkdestructor commented on #220
The solution proposed by @jgogstad  worked like a charm. After hours struggling trying I finally find out the correct way to handle this. I believe this is quite an important configuration (almost all DEVs work with sourcemaps). @stephanebachelier in some comments above you committed to update the docs. However I haven't seen the README nor the documentation updated (i just found this thread by ch

[2016-06-29 15:22] thedarkdestructor opened #623 "Memory leak when generating sourcemap"
Hi all,

I'm using usemin to also generating sourcemap in my grunt chain. I've used the suggestion indicated here https://github.com/yeoman/grunt-usemin/issues/220 for being able to generate sourcemap.

**However grunt/node is using more than 3GB of RAM for the generation.** If I don't add the sourcemap the RAM usage is way lowe. It seems to me quite an exaggeration. Is this a memory leak? Anyone

[2016-07-19 05:00] microcosm opened #624 ""js is not defined" warning while processing template"
I get the following output:

[code]

Here is [my template](https://github.com/Art-A-Hack/art-a-hack.github.io/blob/source/app/_layouts/default.html):

[code]

[2016-07-27 10:52] willi1s commented on #521
I tripped this same problem recently and thought I'd share my findings;

I found that you can have multiple html files, but the combined package files must either have unique names e.g.
a.html -> vendor_a.js
b.html -> vendor_b.js
c.html -> vendor_c.js

or, the contents of the combined package must be identical (contain the same packages)

[2016-08-08 19:08] Darksoulsong commented on #497
This is still happening to angular-material elements, `md-svg-src="assets/images/chat.svg"`, for example.:

[2016-08-11 19:20] Giovanni-Mattucci opened #625 ".NET MVC Project cshtml files not being updated"
I'm having trouble with usemin not updating URLs within my `.cshtml` files.
Here is my current setup in my `gruntfile.js`:

[code]

Does usemin only work with .html files? Or will it scan any file and replace those URL strings?

As an FYI I utilized [this yeoman generator](https://github.com/whyleee/generator-powermvc) to create this file initially.

[2016-08-13 22:42] refactornator commented on #624
It looks like @microcosm fixed this with [this commit](https://github.com/Art-A-Hack/art-a-hack.github.io/commit/65804b43ad0634686c015f3bf3cc0b63ea22e72b). It worked for me too 👍

[2016-08-18 17:13] microcosm commented on #624
Yep, it turned out to be a Gruntfile parsing error. Once usemin rewrites config values to the Gruntfile, the Gruntfile is reloaded and parsed, producing a parsing error that doesn't show up when the Gruntfile is originally parsed.

[2016-08-18 17:13] #624 closed, assigned to nobody

[2016-09-02 06:34] BouncingBit commented on #617
This is indeed a problem if you yourself are working on a Mac or Unix system and your colleagues or the build system is running on Windows and you're using GIT. Depending on the GIT flag core.autocrlf the line endings are automatically converted (core.autocrlf = true as recommended for Windows).

Steps to reproduce:
1. create a simple html file with two build tags after each other
2. use the defau

[2016-09-16 10:08] mysterytoo opened #626 "how to replace the prefix of script src file path!!!!!"
Hi guys,
    I have a jsp page inside which there are some html codes as below.

[code]

I run 'grunt', grunt automatically produced some configuration as below.

[code]

 I am researching how to replace '${ctx}\js\inspection\ReportUploader.js' with 'js\inspection\ReportUploader.js', but I don't know how to do, can anybody help me?

Thanks

[2016-09-20 03:55] #626 closed, assigned to nobody

[2016-09-20 19:37] aldo-jr opened #627 "Problems with paths and rev"
Using Grunt with plugins: - grunt-contrib-copy - grunt-contrib-clean - grunt-contrib-concat - grunt-contrib-uglify - grunt-contrib-cssmin - grunt-usemin - grunt-contrib-imagemin - grunt -Rev

In my architecture, I have an index.html in the root public an index.html in a folder firstapp within thepublicand otherindex.htmlinside the foldersecondappalso within thepublic`.

My images folder is in the

[2016-09-21 14:50] valnub commented on #391
+1

[2016-09-25 12:34] jimdowling commented on #164
I still have this issue with <md-icon>. @robert-malai  - i couldn't get your solution working. I tried reading about how/where to configure tasks in the Gruntfile to extend the html patterns. But couldn't get it working. @robert-malai Could you please indicate where to add your fix in the Gruntfile?

[2016-09-27 07:50] robert-malai commented on #164
@jimdowling this is the whole content of my Grunt.js file:
https://gist.github.com/robert-malai/edbad628593af55aeb107f8c8d44c498

[2016-09-27 16:01] jimdowling commented on #164
@robert-malai  cheers!

[2016-10-04 07:11] manojdarshana opened #628 "Issue with renaming the block with asset versioning"
I am using **grunt-usemin** along with **grunt-assets-versioning** and grunt-aws. So grunt-assets-versioning generates a hash coded version of the minified files and grunt aws is used to push those generated files into S3 bucket.

So when i am reffering back those files from S3 bucket it should be something like this,

`<script src="http://s3/abcdfg/js/script.7b11a86e.js"></script>
`
But when i cu

[2016-10-05 11:45] shauntarves commented on #587
I've run into the same issue, and it's not just a "debug request." I wanted to append a CDN path before my revved files and running them through the blockReplacements just doesn't work with the revved version replacements. With 3.1.1 at least, it seems that you can have either blockReplacement OR file revving, but not both. Any ideas?

[2016-10-29 23:32] kamranzafar commented on #508
Could this be reopened? I am trying to use yeoman with Spring Boot and Thymeleaf. Where thymeleaf is based on XHTML. With this open-tags issue, I can't use it with spring boot.

[2016-11-18 13:08] Ajaykumarkonda commented on #242
I also encountered same issue. Relative paths in html img src="images/image.png" is not working filerev but in css background image file rev is working
Any solution for html src paths for file rev.
I tried few solution but not worked

[2016-12-07 10:02] zhongDZ opened #629 "Usemin fails to update CSS file & JS file image paths correctly."
module.exports = function (grunt) {

  require('matchdep').filterDev('grunt-*').forEach(grunt.loadNpmTasks);

  grunt.initConfig({

    pkg: grunt.file.readJSON('package.json'),
    banner: '',
    game_name : 'diaoyu',//项目名字
    //清除目录
    clean: {
      all: ['dist/view/<%=game_name%>/**', 'dist/*.*'],
      image: 'dist/static/<%=game_name%>/res',
      css: 'dist/static/<%=game_name%>/css',

[2016-12-21 07:10] XmlmXmlmX commented on #625
~~No, for me it works with `cshtml`-files. Correct path?~~
Two of my collegues have the same problem. For me it works.
No errors.

[2017-01-07 00:07] sovaj commented on #313
I like to help you guys

Let me know if you still looking for someone to maintain this project. If you do I will gladly do it.

Thanks.

[2017-01-09 18:02] eddiemonge commented on #313
Yup still are. What capacity would you like to help in?

[2017-01-12 19:18] #225 closed

[2017-01-20 18:11] Darksoulsong commented on #388
@Kattixie That helped a lot. Thank you!

[2017-01-30 13:05] taharedape commented on #603
@nhuthuynh Did you manage to fix this issue? I am facing the same :/

[2017-01-31 11:32] leolux commented on #450
There is still an issue somewhere. I am using version 3.1.1 and my index.html looks as follows:

[code]
After executing "grunt build" the "defer" attribute gets **removed** from the original index.html file. So the file gets modified during the build process and looks as if the developer had never written this attribute. And the resulting index.html does not contain the attribute either.

[2017-03-16 01:38] iostate commented on #629
I am also having this issue. Gulp does not properly search the paths when running the gulp task.

The error "bootstrap.min.css" is not found is invalid, as the file is clearly in the directory when the gulp task is ran.

Gulp configuration file:

[code]

Error when running the gulp task in command line:

[code]

[2017-03-22 15:56] #430 closed

[2017-04-07 23:10] vankooch commented on #625
Hi,

I've had the same problems here but now I've found a working version. The trick is to remove the starting``~`` from every ``href`` and ``src``attribute in your cshtml files.

Does not work:
[code]

Works:
[code]

My Gruntfile is:
[code]

The problem is that this will brake all the Area views because the links wont work anymore...

[2017-04-21 14:59] brandonros commented on #563
Verdict?

[2017-04-26 20:50] fbarbat commented on #617
In case it helps, here it is another workaround. We ended up using grunt-lineending before usemin so it replaces all Windows line feeds.

[code]

[2017-04-30 19:17] artuska commented on #547
I've got the same error.

I have:

[code]

Fixed by just removing `html` from the `useminPrepare` config:

Before:

[code]

After:

[code]

I don't use usemin's built in stuff like `concat`, `uglify` and other tasks, the only thing I use is CSS inlining and file path replace after the `grunt-filerev`.

[code]

[2017-05-02 22:33] jeudywr commented on #621
Did you ever solve this? I'm having the same issue because I added **defer** to a couple of script declarations to improve my score on the Pagespeed tools from Google, but after adding defer keep getting the error (and --force skips the replacement of this element).

[2017-05-15 22:54] skylarmb commented on #251
I had a different problem (useminPrepare would result in no configuration, aka `{}`) so no files generated, but this is the first result on google so ill comment.

I was a complete idiot and typed `` instead of ``

[2017-05-16 22:20] skylarmb commented on #521
the first comment by @stevemao worked for me, thanks

[2017-05-17 03:24] angel006z commented on #625
Gruntfile use to relative path;
but I hope to support “〜/” and “/”.

[2017-05-17 03:24] angel006z commented on #625
+1

[2017-05-17 03:25] angel006z commented on #625
+1

[2017-05-17 03:25] angel006z commented on #625
+99

[2017-06-02 18:34] uriannrima commented on #235
For those who might need it for some situation like me, here's a small snippet to make it replace *.html files inside the javascript. We needed to change templateUrls from angularjs with rev files:

[code]

[2017-06-17 14:26] prabn opened #632 ".."

[2017-06-18 17:08] #632 closed, assigned to nobody

[2017-07-24 14:46] Deklin commented on #555
+1 on this

[2017-10-12 07:40] ramsathees commented on #235
I am using Angular ui-grid. Inside js file i am loading my image file it is working fine in my local . After converting my js file into min.js . My image is not loaded . please help me out from this problem.
i have attached my grunt js file code here.
`  filerev: {
      dist: {
        src: [
          '<%= yeoman.dist %>/scripts/{,*/}*.js',
          '<%= yeoman.dist %>/styles/{,*/}*.css',

[2017-11-28 19:08] sivaneshl commented on #521
I had the same issue and then I copied and pasted my css and js links from index.html to other html pages and it worked.

[2018-01-04 16:10] Liero opened #633 "Use fixed name for minified files instead of revisioned name."
I've inherited older project.

I would like to stop renaming file from e.g. 'main.js' to 'main.123456.js'. I would rather have fixed postfix, like 'main.min.js'.

Is it possible?